.navdrawer {
	display: none;
	outline: 0;
	overflow: hidden;
	z-index: 160;
	transform: translateX(-100%);
}
.navdrawer.show {
	transform: translateX(0);
}

.navdrawer,
.navdrawer-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.navdrawer-backdrop {
	transition-duration: 0.375s;
	transition-property: opacity;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	background-color: rgba(0, 0, 0, 0.38);
	opacity: 0;
	z-index: 159;
}

@media (min-width: 576px) {
	.navdrawer-backdrop {
		transition-duration: 0.4875s;
	}
}

@media (min-width: 992px) {
	.navdrawer-backdrop {
		transition-duration: 0.25s;
	}
}

@media screen and (prefers-reduced-motion: reduce) {
	.navdrawer-backdrop {
		transition: none;
	}
}

.navdrawer-backdrop.show {
	opacity: 1;
	/* display: none; */
}

.navdrawer-content {
	transition-duration: 0.195s;
	transition-property: box-shadow, -webkit-transform;
	transition-property: box-shadow, transform;
	transition-property: box-shadow, transform, -webkit-transform;
	transition-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
	background-color: #fff;
	max-width: calc(100% - 3.5rem);
	overflow-x: hidden;
	overflow-y: auto;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	width: 17.5rem;
}

@media (min-width: 576px) {
	.navdrawer-content {
		transition-duration: 0.2535s;
	}
}

@media (min-width: 992px) {
	.navdrawer-content {
		transition-duration: 0.13s;
	}
}

@media screen and (prefers-reduced-motion: reduce) {
	.navdrawer-content {
		transition: none;
	}
}

.navdrawer.show .navdrawer-content {
	transition-duration: 0.225s;
	transition-property: box-shadow, -webkit-transform;
	transition-property: box-shadow, transform;
	transition-property: box-shadow, transform, -webkit-transform;
	transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
		0 3px 5px 0 rgba(0, 0, 0, 0.2);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

@media (min-width: 576px) {
	.navdrawer.show .navdrawer-content {
		transition-duration: 0.2925s;
	}
}

@media (min-width: 992px) {
	.navdrawer.show .navdrawer-content {
		transition-duration: 0.15s;
	}
}

@media screen and (prefers-reduced-motion: reduce) {
	.navdrawer.show .navdrawer-content {
		transition: none;
	}
}

.navdrawer-body {
	margin-bottom: 0.5rem;
	padding-right: 1rem;
	padding-left: 1rem;
}

.navdrawer-divider {
	background-color: rgba(0, 0, 0, 0.12);
	height: 1px;
	margin: 0.5rem 0;
	overflow: hidden;
}

.navdrawer-header {
	background-color: #f5f5f5;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	display: block;
	margin-bottom: 0.5rem;
	padding: 0.625rem 1rem;
}

.navdrawer-subheader {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: rgba(0, 0, 0, 0.38);
	display: block;
	font-weight: 500;
	height: 3rem;
	line-height: 1;
	margin-top: 0;
	margin-bottom: 0;
	padding: 1.0625rem 1rem;
}

.navdrawer-divider + .navdrawer-subheader {
	margin-top: -0.5rem;
}

.navdrawer-nav {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	list-style: none;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	padding-left: 0;
}

.navdrawer-header + .navdrawer-nav,
.navdrawer-subheader + .navdrawer-nav {
	margin-top: 0;
}

.navdrawer-nav .nav-link {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	transition-duration: 0.3s;
	transition-property: background-color, color;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	color: rgba(0, 0, 0, 0.87);
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 1;
	padding: 1.0625rem 1rem;
}

@media (min-width: 576px) {
	.navdrawer-nav .nav-link {
		transition-duration: 0.39s;
	}
}

@media (min-width: 992px) {
	.navdrawer-nav .nav-link {
		transition-duration: 0.2s;
	}
}

@media screen and (prefers-reduced-motion: reduce) {
	.navdrawer-nav .nav-link {
		transition: none;
	}
}

.navdrawer-nav .nav-link:active,
.navdrawer-nav .nav-link:focus,
.navdrawer-nav .nav-link:hover {
	background-color: #f5f5f5;
}

.navdrawer-nav .nav-link.active,
.navdrawer-nav .nav-link:active {
	color: #9c27b0;
}

.navdrawer-nav .nav-link.disabled {
	background-color: transparent;
	color: rgba(0, 0, 0, 0.38);
}

.navdrawer-nav .nav-link:focus {
	outline: 0;
}

.navdrawer-nav .active > .nav-link {
	color: #9c27b0;
}

.navdrawer-nav-icon {
	color: rgba(0, 0, 0, 0.54);
	width: 3.5rem;
}

.nav-link.active .navdrawer-nav-icon,
.nav-link:active .navdrawer-nav-icon {
	color: #9c27b0;
}

.active > .nav-link .navdrawer-nav-icon {
	color: #9c27b0;
}
