[data-sevenup^='left/'] {
	background-image: url('./sprites.png');
	background-size: 512px 512px;
}
[data-sevenup='left/asp_ken_01.png'] {
	width: 64px;
	height: 96px;
	background-position: 0px 0px;
}
[data-sevenup='left/asp_ken_02.png'] {
	width: 64px;
	height: 96px;
	background-position: -64px 0px;
}
[data-sevenup='left/asp_ken_03.png'] {
	width: 64px;
	height: 96px;
	background-position: -128px 0px;
}
[data-sevenup='left/asp_ken_04.png'] {
	width: 64px;
	height: 96px;
	background-position: 0px -96px;
}
[data-sevenup='left/asp_ken_05.png'] {
	width: 64px;
	height: 96px;
	background-position: -64px -96px;
}
[data-sevenup='left/asp_ken_06.png'] {
	width: 64px;
	height: 96px;
	background-position: -128px -96px;
}
[data-sevenup='left/asp_ken_07.png'] {
	width: 64px;
	height: 96px;
	background-position: -192px 0px;
}
[data-sevenup='left/asp_ken_08.png'] {
	width: 64px;
	height: 96px;
	background-position: -192px -96px;
}
[data-sevenup='left/asp_ken_09.png'] {
	width: 64px;
	height: 96px;
	background-position: -256px 0px;
}
[data-sevenup='left/asp_ken_10.png'] {
	width: 64px;
	height: 96px;
	background-position: -256px -96px;
}
[data-sevenup='left/asp_ken_11.png'] {
	width: 64px;
	height: 96px;
	background-position: 0px -192px;
}
[data-sevenup='left/asp_ken_12.png'] {
	width: 64px;
	height: 96px;
	background-position: -64px -192px;
}
