[data-sevenup^='left/'] {
	background-image: url('./sprites.png');
	background-size: 256px 256px;
}
[data-sevenup='left/ho_bl_1.png'] {
	width: 117px;
	height: 96px;
	background-position: 0px 0px;
}
[data-sevenup='left/ho_bl_2.png'] {
	width: 117px;
	height: 96px;
	background-position: -117px 0px;
}
[data-sevenup='left/ho_bl_3.png'] {
	width: 117px;
	height: 96px;
	background-position: 0px -96px;
}
[data-sevenup='left/ho_bl_4.png'] {
	width: 117px;
	height: 96px;
	background-position: -117px -96px;
}
