[data-sevenup^='img7/'] {
	background-image: url('./sprites.png');
	background-size: 128px 128px;
}
[data-sevenup='img7/ex1.png'] {
	width: 32px;
	height: 32px;
	background-position: 0px 0px;
}
[data-sevenup='img7/ex2.png'] {
	width: 32px;
	height: 32px;
	background-position: -32px 0px;
}
[data-sevenup='img7/ex3.png'] {
	width: 32px;
	height: 32px;
	background-position: 0px -32px;
}
[data-sevenup='img7/ex4.png'] {
	width: 32px;
	height: 32px;
	background-position: -32px -32px;
}
[data-sevenup='img7/ex5.png'] {
	width: 32px;
	height: 32px;
	background-position: -64px 0px;
}
[data-sevenup='img7/ex6.png'] {
	width: 32px;
	height: 32px;
	background-position: -64px -32px;
}
[data-sevenup='img7/ex7.png'] {
	width: 32px;
	height: 32px;
	background-position: 0px -64px;
}
[data-sevenup='img7/ex8.png'] {
	width: 32px;
	height: 32px;
	background-position: -32px -64px;
}
