[data-sevenup^='right/'] {
	background-image: url('./sprites.png');
	background-size: 512px 512px;
}
[data-sevenup='right/ho_ar_1.png'] {
	width: 149px;
	height: 93px;
	background-position: 0px 0px;
}
[data-sevenup='right/ho_ar_2.png'] {
	width: 149px;
	height: 93px;
	background-position: -149px 0px;
}
[data-sevenup='right/ho_ar_3.png'] {
	width: 149px;
	height: 93px;
	background-position: 0px -93px;
}
[data-sevenup='right/ho_ar_4.png'] {
	width: 149px;
	height: 93px;
	background-position: -149px -93px;
}
[data-sevenup='right/ho_ar_5.png'] {
	width: 149px;
	height: 93px;
	background-position: 0px -186px;
}
