[data-sevenup^='right/'] {
	background-image: url('./sprites.png');
	background-size: 512px 512px;
}
[data-sevenup='right/ho_b_01.png'] {
	width: 144px;
	height: 94px;
	background-position: 0px 0px;
}
[data-sevenup='right/ho_b_02.png'] {
	width: 144px;
	height: 94px;
	background-position: -144px 0px;
}
[data-sevenup='right/ho_b_03.png'] {
	width: 144px;
	height: 94px;
	background-position: 0px -94px;
}
[data-sevenup='right/ho_b_04.png'] {
	width: 144px;
	height: 94px;
	background-position: -144px -94px;
}
[data-sevenup='right/ho_b_05.png'] {
	width: 144px;
	height: 94px;
	background-position: 0px -188px;
}
[data-sevenup='right/ho_b_06.png'] {
	width: 144px;
	height: 94px;
	background-position: -144px -188px;
}
[data-sevenup='right/ho_b_07.png'] {
	width: 144px;
	height: 94px;
	background-position: -288px 0px;
}
[data-sevenup='right/ho_b_08.png'] {
	width: 144px;
	height: 94px;
	background-position: -288px -94px;
}
[data-sevenup='right/ho_b_09.png'] {
	width: 144px;
	height: 94px;
	background-position: -288px -188px;
}
[data-sevenup='right/ho_b_10.png'] {
	width: 144px;
	height: 94px;
	background-position: 0px -282px;
}
[data-sevenup='right/ho_b_11.png'] {
	width: 144px;
	height: 94px;
	background-position: -144px -282px;
}
[data-sevenup='right/ho_b_12.png'] {
	width: 144px;
	height: 94px;
	background-position: -288px -282px;
}
