@import '../scss/nes.scss';
@import 'assets/scss/style.scss';

:root {
	--nes-px: 1rem;
	--nes-py: 1rem;
	--nes-gap: 1rem;
	--nes-page-width: 45em;
	--nes-page-width-sm: 24rem;
	--nes-header-gap: 2rem;
	--nes-header-px: 1rem;
	--nes-header-py: 1.5rem;
	--nes-bg-opacity: 1;
	--nes-page-padding: var(--nes-py) var(--nes-px);
	--nes-page-gap: var(--nes-gap);
	--nes-header-p: var(--nes-header-py) var(--nes-header-px);
}

@mixin truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@mixin text-sm {
	font-size: 0.875rem;
	line-height: 1.25rem;
}
@mixin text-lg {
	font-size: 1.125rem;
	line-height: 1.75rem;
}
@mixin text-xl {
	font-size: 1.25rem;
	line-height: 1.75rem;
}
@mixin text-2xl {
	font-size: 1.5rem;
	line-height: 2rem;
}
@mixin text-3xl {
	font-size: 1.875rem;
	line-height: 2.25rem;
}

@import 'assets/scss/nes-layer.scss';
@import 'assets/scss/nes-page.scss';

.nes-ammount {
	@include text-xl;
	@include truncate;
}

@import 'assets/scss/utils.scss';
