[data-sevenup^='right/'] {
	background-image: url('./sprites.png');
	background-size: 512px 256px;
}
[data-sevenup='right/blank_ar_1.png'] {
	width: 142px;
	height: 112px;
	background-position: 0px 0px;
}
[data-sevenup='right/blank_ar_2.png'] {
	width: 142px;
	height: 112px;
	background-position: -142px 0px;
}
[data-sevenup='right/blank_ar_3.png'] {
	width: 142px;
	height: 112px;
	background-position: 0px -112px;
}
[data-sevenup='right/blank_ar_4.png'] {
	width: 142px;
	height: 112px;
	background-position: -142px -112px;
}
[data-sevenup='right/blank_ar_5.png'] {
	width: 142px;
	height: 112px;
	background-position: -284px 0px;
}
